[Unit]
Description=Service to read solar power and publish to MQTT
After=syslog.target network-online.target

[Service]
Type=simple
User=mqtt-service
WorkingDirectory=/var/lib/mqtt-sensors
EnvironmentFile=/etc/default/mqtt_piko
PermissionsStartOnly=true
ExecStartPre=/var/lib/mqtt-sensors/startup.sh
ExecStart=/var/lib/mqtt-sensors/mqtt_piko.sh
Restart=on-failure
RestartSec=10
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
